$title-color: #ffffff;
$hero-background-color: #2f303a;
$hero-overlay-color: rgba(47, 48, 58, 0.4);
$minititles-color: #212121;
$inside-color: #757575;
$active-color: #2196f3;
$logo-studio-color: #000000;
$team-container-background: #f5f4fa;
$tel-in-footer-color: rgba(255, 255, 255, 0.6);
$header-bottom-line: #ececec;
$projects-card-border: #eeeeee;
$team-social-icons-fill: #afb1b8;
$footer-eclipse-social-icons-color: rgba(255, 255, 255, 0.1);
