.header-page {
  //   /* общие стили для всего Хедера */
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: $title-color;
  //   /* нижняя линия внизу хедера */
  border-bottom: 1px solid $header-bottom-line;

  // & .flexbox {
  //   //   /* выравнивание по центру содержимого хедера */
  //   align-items: center;
  // }

  & .logo {
    // /* стили геометрии (отступов) для логотипа в целом */
    // margin-top: 16px;
    // margin-bottom: 16px;
    padding-top: 16px;
    padding-bottom: 16px;

    @include for-size(tablet-desktop) {
      margin-top: 26px;
      margin-bottom: 26px;
    }
    @include for-size(desktop) {
      margin-top: 24px;
      margin-bottom: 25px;
      margin-right: 93px;
    }
  }

  &__menu-button {
    // display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;

    & .header-page__menu-button-close {
      display: none;
    }

    &.is-open {
      & .header-page__menu-button-close {
        display: block;
      }
      & .header-page__menu-button-burger {
        display: none;
      }
    }
  }

  &__menu-button-icons {
    width: 40px;
    height: 40px;
    fill: $minititles-color;
    cursor: pointer;

    position: absolute;
    right: 15px;
    // right: 0px;
    top: 10px;

    &:hover,
    &:focus {
      fill: $active-color;
    }

    @include for-size(tablet) {
      display: none;
    }
  }
}
.header-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
}
// .header-mobile {
//   display: flex;
//   justify-content: space-between;
//   position: relative;
//   width: 100%;
// }

.header__menu-container {
  padding-top: 60px;
  padding-bottom: 60px;

  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  // transform: translatey(60px);
  transform: translatey(-100%);
  opacity: 0;
  // pointer-events: none;
  background-color: $title-color;
  // z-index: 5;
  transition: 0.5s ease-in-out;

  // visibility: hidden;
  // opacity: 0;

  &.is-open {
    opacity: 1;
    transform: translatey(61px);
    // visibility: visible;
    .container {
      pointer-events: none;
    }
  }
}
// ===============================
// ===============================
// ===============================
