// /* стили для иконок в пунктах Особенности через псевдоэлемнт ::before */

.features-list__item {
  &--feature-1::before {
    content: "";
    display: block;
    height: 120px;
    background-color: $team-container-background;
    background-image: url(../images/icons/antenna.svg);
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
    margin-bottom: 30px;
  }

  &--feature-2::before {
    content: "";
    display: block;
    height: 120px;
    background-color: $team-container-background;
    background-image: url(../images/icons/clock.svg);
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
    margin-bottom: 30px;
  }

  &--feature-3::before {
    content: "";
    display: block;
    height: 120px;
    background-color: $team-container-background;
    background-image: url(../images/icons/diagram.svg);
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
    margin-bottom: 30px;
  }

  &--feature-4::before {
    content: "";
    display: block;
    height: 120px;
    background-color: $team-container-background;
    background-image: url(../images/icons/astronaut.svg);
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
    margin-bottom: 30px;
  }
}
