.features__container {
  //   /* внутренние отступы для контейнера Особенности */
  padding-top: 94px;
  padding-bottom: 94px;
}

.features-list {
  &__title {
    //   /* стили для заголовков h3 ОСОБЕННОСТЕЙ */
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    padding: 0;
    margin-bottom: 10px;
  }

  &__text {
    //   /* стили для парграфов h3 ОСОБЕННОСТЕЙ */
    color: $inside-color;
    font-size: 14px;
    line-height: 1.71;
    padding: 0;
  }

  &__item {
    //   /* ширина столбиков с текстом в Особенностях */
    flex-basis: calc((100% - 3 * 30px) / 4);

    &:not(:last-child) {
      //   /* отступы между столбиками с текстом в Особенностях */
      margin-right: 30px;
    }
  }
}
