.footer-page {
  //   /* общие стили для подвала сайта */
  background-color: $hero-background-color;
  line-height: 1.71;

  &__container {
    padding: 60px 15px;
    text-align: center;
  }

  &__logo {
    //   /* отступы для Лого в футере */
    margin-bottom: 20px;

    & .logo__studio-logotext {
      //   /* стили для части Studio в логотипе в Футере сайта */
      color: $title-color;
    }
  }
}
