.footer-page__form-container {
  color: $title-color;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;

  &--text {
    margin-bottom: 20px;
  }
}

.footer-form__field {
  background-color: transparent;
  height: 50px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 12px;

  padding: 15px 16px;

  width: 358px;
  outline-color: $active-color;

  color: $title-color;

  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    //   /* align-items: center; */

    color: rgba(255, 255, 255, 0.6);
  }
}

.footer-form__button-submit {
  background: $active-color;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 28px;
  cursor: pointer;
  outline-color: $active-color;

  color: $title-color;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  &::after {
    //   /* если не будет анимирована и менять цвет иконка, ее можно через псевдоелемент вставить */
    content: "";
    width: 24px;
    height: 24px;
    background-image: url(../images/icons/footer-icon-send.svg);
    margin-left: 10px;
  }
}
// /* .footer-form__button-submit .icon {
//   fill: $title-color;
//   width: 24px;
//   height: 24px;
//   margin-left: 10px;
// } */
