.footer-page {
  //   /* общие стили для подвала сайта */
  background-color: $hero-background-color;
  line-height: 1.71;

  // @include for-size(desktop-only) {
  //   text-align: center;
  // }

  &__container {
    padding: 60px 15px;
    @include for-size(desktop-only) {
      text-align: center;
    }
    @include for-size(desktop) {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
  }

  &__container-tablet {
    @include for-size(tablet-desktop) {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      padding-left: 61px;
      padding-right: 74px;
    }
    @include for-size(desktop) {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
  }

  &__logo {
    & .logo__studio-logotext {
      //   /* стили для части Studio в логотипе в Футере сайта */
      color: $title-color;
    }
  }
}
