// /* Основной цвет текста: #212121
// Вторичный цвет текста: #757575
// Акценторный цвет текста: #2196F3
// Цвета для логотипа: #2196F3 и #000000
// Цвет Заголовка и в футере: #ffffff
// Цвет текста имейла и тел в футере: rgba(255, 255, 255, 0.6)

// Цвет фона: #ffffff
// Цвет фона для Заголовка и Футера: #2F303A
// Цвет фона для Наша Команда: #F5F4FA

// Размер шрифта:
// Основной шрифт: Roboto normal and bold
// Шрифт Логотипа: Raleway bold */

// /*? border-box уже прописан в modern-normalaize значит можно и не пиасть что весть html bb ?*/

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: Roboto, sans-serif;
  color: $minititles-color;
  background-color: $title-color;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03em;
}

main {
  //   /* если зафиксировать Хедер, стоит учесть верхний отступ в main в размере высоты самого Хедера, тогда не съедет контент вверх под Хедер */
  padding-top: 81px;
}

.container {
  //   /* тут кроме этого ничего больше не задавать, явную геометрию в других класах описывать */
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0px auto;
}

.list {
  //   /* стили списков во всем документе*/
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.title {
  // /* стили к заголовкам */
  margin: 0;
}

.text {
  // /* стили к параграфам */
  margin: 0;
}

.link {
  //   /* стили к ссылкам во всем документе*/
  text-decoration: none;
  color: $inside-color;
  cursor: pointer;
  /* стиль возможности сделать переходы (А-В-А) при ховере и фокусе (время-250ms, функция распределения времени-cubic-bezier(0.4, 0, 0.2, 1) */
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.flexbox {
  //   /* для того чтоб списки смогли стать в ряд */
  display: flex;
  flex-wrap: wrap;
}

.hidden-title {
  //  /* стили для того, чтоб убрать визуально заголовки (чтоб соблюдать нужную иерархию) */
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
