.header-page {
  //   /* общие стили для всего Хедера */
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: $title-color;
  //   /* нижняя линия внизу хедера */
  border-bottom: 1px solid $header-bottom-line;

  & .flexbox {
    //   /* выравнивание по центру содержимого хедера */
    align-items: center;
  }

  & .logo {
    // /* стили геометрии (отступов) для логотипа в целом */
    margin-top: 24px;
    margin-bottom: 25px;
    margin-right: 93px;
  }
}
