.header-page {
  //   /* общие стили для всего Хедера */
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: $title-color;
  //   /* нижняя линия внизу хедера */
  border-bottom: 1px solid $header-bottom-line;

  // & .flexbox {
  //   //   /* выравнивание по центру содержимого хедера */
  //   align-items: center;
  // }

  & .logo {
    // /* стили геометрии (отступов) для логотипа в целом */
    margin-top: 16px;
    margin-bottom: 16px;

    @include for-size(tablet-desktop) {
      margin-top: 26px;
      margin-bottom: 26px;
    }
    @include for-size(desktop) {
      margin-top: 24px;
      margin-bottom: 25px;
      margin-right: 93px;
    }
  }

  // & .container {
  //   display: flex;
  //   justify-content: space-between;
  //   // overflow: hidden;
  // }
  .hader-container {
    position: relative;
    width: 100%;
  }

  .header-mobile {
    display: flex;
    justify-content: space-between;
  }
  .header-page__menu-button {
    border: none;
    background-color: transparent;
  }
  &__menu-button-icons {
    width: 40px;
    height: 40px;
    fill: $minititles-color;
    cursor: pointer;

    position: absolute;
    right: 15px;
    top: 10px;

    @include for-size(tablet) {
      display: none;
    }

    &:hover,
    &:focus {
      fill: $active-color;
    }

    z-index: 2;
  }
}

.header__menu-container {
  padding-top: 60px;
  padding-bottom: 60px;

  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  // transform: translatey(60px);
  transform: translatey(0px);
  opacity: 0;
  background-color: $title-color;
  // z-index: 5;
  transition: 0.5s ease-in-out;

  &.is-open {
    opacity: 1;
    transform: translatey(61px);

    .header-page__menu-button-burger {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }
  }
}
// ===============================
// ===============================
// ===============================
