.mail-tel-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  //   /* стили к ссылкам правой части навигации хедера */
  font-weight: 500;
  letter-spacing: 0.02em;

  @include for-size(tablet-desktop) {
    font-size: 12px;
    align-items: normal;
  }

  @include for-size(desktop) {
    flex-direction: row;
  }
}

.mail-tel-nav__item:not(:last-child) {
  margin-bottom: 16px;

  @include for-size(tablet-desktop) {
    & {
      margin-bottom: 10px;
    }
  }

  @include for-size(desktop) {
    & {
      margin-right: 30px;
      margin-bottom: 0px;
    }
  }
}

.mail-tel-nav__icon-mail {
  //   /* стили для иконки почты, цвет со спрайта-удалён */
  width: 16px;
  height: 12px;
  fill: $inside-color;
  margin-right: 10px;
  //   /* стиль возможности сделать переходы (А-В-А) при ховере и фокусе (время-250ms, функция распределения времени-cubic-bezier(0.4, 0, 0.2, 1) */
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .mail-tel-nav__link:hover &,
  .mail-tel-nav__link:focus & {
    fill: $active-color;
  }
}

.mail-tel-nav__icon-tel {
  // display: flex;
  // align-items: center; //   /* стили для иконки телефона */
  width: 10px;
  height: 16px;
  fill: $inside-color;
  margin-right: 10px;
  //   /* стиль возможности сделать переходы (А-В-А) при ховере и фокусе (время-250ms, функция распределения времени-cubic-bezier(0.4, 0, 0.2, 1) */
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .mail-tel-nav__link:hover &,
  .mail-tel-nav__link:focus & {
    fill: $active-color;
  }
}

.mail-tel-nav__link {
  &:hover,
  &:focus {
    //   /* возможность выделять другим цветом ссылки при наведении курсора на них */
    color: $active-color;
    outline-color: $active-color;
  }
}
