.logo {
  // /*общие стили для логотипа в целом */
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  display: inline-block;
  outline-color: $active-color;
}

.header-page .logo {
  // /* стили геометрии (отступов) для логотипа в целом */
  margin-top: 24px;
  margin-bottom: 25px;
  margin-right: 93px;
}

.logo__web-logotext {
  // /* стили для части Web в логотипе */
  color: $active-color;
}

.logo__studio-logotext {
  // /* стили для части Studio в логотипе */
  color: $logo-studio-color;
}
