.logo {
  // /*общие стили для логотипа в целом */
  font-family: Raleway, sans-serif;
  font-weight: 700;
  outline-color: $active-color;

  display: inline-block;
  font-size: 24px;
  line-height: 1.17;
  text-align: left;
  vertical-align: text-top;

  // margin-right: auto;

  @include for-size(desktop) {
    font-size: 26px;
    line-height: 1.19;
    display: inline-block;
  }

  &__web-logotext {
    // /* стили для части Web в логотипе */
    color: $active-color;
  }

  &__studio-logotext {
    // /* стили для части Studio в логотипе */
    color: $logo-studio-color;
  }
}

.header-page .logo {
  // /* стили геометрии (отступов) для логотипа в целом */
//   // margin-top: 16px;
//   // margin-bottom: 16px;
//   // @include for-size(tablet-only) {
//   //   padding-top: 16px;
//   //   padding-bottom: 16px;
//   // }
//   // @include for-size(tablet-desktop) {
//   //   // margin-top: 26px;
//   //   // margin-bottom: 26px;
//   //   padding-top: 26px;
//   //   padding-bottom: 26px;
//   // }
  @include for-size(desktop) {
    // margin-top: 24px;
    // margin-bottom: 25px;
    margin-right: 93px;
  }
}
