.portfolio-page__list-button {
  //   /* отступы ряда кнопок от секции Проектов */
  padding-top: 94px;
  margin-bottom: 50px;
  justify-content: center;
}

.portfolio-page__list-button-item {
  //   /* бордер для кнопок в верхнем ряду страници Портфолио */
  border-color: solid $team-container-background;
  border-radius: 4px;
  //   /* border: none; */

  &:not(:last-child) {
    //   /* отступы справа для кнопок в верхнем ряду страници Портфолио */
    margin-right: 8px;
  }
}

.portfolio-page__button {
  //   /* стили для ряда кнопок в Портфолио */
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  background-color: $team-container-background;
  border: none;
  cursor: pointer;
  padding: 0;
  padding: 6px 22px;
  border-radius: 4px;
  //   /* стиль возможности сделать переходы (А-В-А) при ховере и фокусе (время-250ms, функция распределения времени-cubic-bezier(0.4, 0, 0.2, 1) */
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus,
  &:active {
    //   /* cтили для кнопок портфолио при ховере (изменение цвета заливки и текста) */
    background-color: $active-color;
    color: $title-color;
    border-color: $active-color;
    border-radius: 4px;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    outline-color: $active-color;
  }
}
